.title {
    color:white;
    text-align: center;
    font-size: 2rem;
}

.container {
    position:relative;
    width:100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;   
    padding: 50px;
    overflow: hidden;
}
 
.container::before {
    content:'';
    position:absolute;
    bottom: 0;
    height:100%;
    width:100%;
    background:#223dc5;
    border-radius:50%;
    left: 50%;
    transform: translateX(-50%) scale(2);
    transform-origin: bottom;

}

.content {
    position:relative;
    z-index: 1;
    color: white;
    text-align: center;
}

.link{
    border:1px solid rgb(100, 111, 255);
    padding: 20px;
    display: block;
    transition: transform 0.5s ease-in-out, border-right 1s ease-in-out;
    color:black;
    font-weight: 900;
 }

.link:hover {
     border-right: 60px solid #748ffc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 }