:root {
  --color-1: #6495ed;
  --color-2: #40e0d0;
  --color-3: #9fe2bf;
  --color-4: #de3163;
  --color-5: #ff7f50;
  --color-6: #ffbf00;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background: #edf2ff;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 500px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 16px;
  }
}
